.container {
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container div {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


/* #0069D9 */