.containerMDIV {
    width: 80%;
    margin: 50px 0px 50px 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 50px lightgrey;
    padding: 1% 0%;
    border-radius: 10px;
    transition: all 0.3s;
}

.containerMDIV:hover {
    box-shadow: 10px 10px 50px grey;
}

.containerMDIV div {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.showDetailsT,
.showDetailsF {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #0069d9;
}

.false {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: transparent;
}