.FileUploadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FileUploadPDiv {
    width: 80%;
}

.Particulars {
    font-size: 1.5rem;
}

.PartInp {
    outline: none;
    padding: 0px 10px;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 24px;
}